{% extends './admin/base.html' %}

{% block content %}
 <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="New-Incident" role="tabpanel" aria-labelledby="nav-home-tab">
            <h3 class="title_record">Incident</h3>
            <div class="table_design">
                {%if post %}
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">empolyee id</th>
                            <th scope="col">empolyee Name</th>
                            <th scope="col">incident ticket id</th>
                            <th scope="col">incident id</th>
                            <th scope="col">incident name</th>
                            <th scope="col">incident status</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                   {% for item in post %}
                        <tr>
                            <th scope="row">{{ item.emp_id }}</th>
                             <th scope="row">{{ item.emp_name }}</th>
                            <td>{{ item.inc_tic_id }}</td>
                            <td>{{ item.inc_id }}</td>
                            <td>{{ item.inc_name }}</td>
                            <td>{{ item.inc_status }}
                                <a href="{{ url_for('admin_progress',ticket_id=item.inc_tic_id,emp_id= item.emp_id ) }}"><i class="fa fa-angle-double-right" aria-hidden="true">
                                </i></a>
                            </td>
                            <td>{{ item.dte }}</td>
                            <!-- <td>Otto</td> -->
                        </tr>
                   {% endfor %}
                    {% else %}
                    <p style="text-align:center;margin-top:5rem;color:orange;">No data found</p>
                    {% endif %}
                </table>
                <!-- <button type="button" class="btn btn-primary">Generate Report</button> -->
            </div>

        </div>

        <div class="tab-pane fade" id="New-Requirement" role="tabpanel" aria-labelledby="nav-home-tab">
            <h3 class="title_record">Service Request</h3>
            <div class="table_design">
                {%if req_post %}
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">employee id</th>
                            <th scope="col">empolyee Name</th>
                            <th scope="col">reqirement ticket id</th>
                            <th scope="col">requirement id</th>
                            <th scope="col">requirement product</th>
                            <th scope="col">requirement status</th>
                            <th scope="col">management approvel</th>
                            <th scope="col">Date</th>

                        </tr>
                    </thead>
                    <tbody>

                    {% for req in req_post %}
                        <tr>
                            <th scope="row">{{ req.emp_id }}</th>
                            <th scope="row">{{ req.emp_name }}</th>
                            <td>{{req.rq_tic_id}}</td>
                            <td>{{req.rq_id}}</td>
                            <td>{{req.rq_prdct}}</td>
                            <td>{{req.rq_status_ad}}
                            <a href="{{ url_for('admin_progress',ticket_id=req.rq_tic_id,emp_id=req.emp_id) }}"><i class="fa fa-angle-double-right" aria-hidden="true">
                                </i></a>
                            </td>
                            <td>{{req.rq_apprvl_op}}</td>
                            <td>{{req.dte}}</td>
                            <!-- <td>Otto</td> -->
                        </tr>
                     {% endfor %}
                    {% else %}
                    <p style="text-align:center;margin-top:5rem;color:orange">No data found</p>
                    {% endif %}
                </table>
                <!-- <button type="button" class="btn btn-primary">Generate Report</button> -->
            </div>

        </div>
        <div class="tab-pane fade" id="Monthly-Report" role="tabpanel" aria-labelledby="nav-home-tab">
            <h3 class="title_record">History</h3>
            <div class="table_design">
                {% if log_tb %}
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ticket id</th>
                            <th scope="col">product id</th>
                            <th scope="col">product name</th>
                            <th scope="col">ticket previous status</th>
                            <th scope="col">ticket final status</th>
                            <th scope="col">ticket open date</th>
                            <th scope="col">ticket closed date</th>
                            <th scope="col">ticket resolved hous</th>

                        </tr>
                    </thead>
                    <tbody>
                    {% for log in log_tb %}
                        <tr>
                            <th scope="row">{{ log.tc_id}}</th>
                            <td>{{log.fn_id}}</td>
                            <td>{{log.fn_name}}</td>
                            <td>{{log.tc_pre_status}}</td>
                            <td>{{log.tc_final_status}}</td>
                            <td>{{log.tc_opn_dt}}</td>
                            <td>{{log.tc_clsd_dt}}</td>
                            <td>{{log.tc_rslvd_hr}}</td>

                        </tr>
                    {% endfor %}
                    {% else %}
                    <p style="text-align:center;margin-top:5rem">No data found</p>
                    {% endif %}

                </table>
                <!-- <button type="button" class="btn btn-primary">Generate Report</button> -->
            </div>

        </div>
    </div>

{% endblock %}