{%for admin in admin %}
<p>Hi,</p>
<div>
<p>
The ticket number <span style="font-weight:bold;">{{ticket_id}}</span> for
<span style="font-weight:bold;">{{admin.emp_name}}</span>
had some which has been resolved earlier issues.
</p>
{% if progress=='inprogress' %}
<p>The Ticket is in-progress, It will be resolved soon</p>
{% endif %}

{% if progress=='close' %}
<p>Take this as <span style="color:orange">High priority</span> for <span style="font-weight:bold;">{{admin.emp_name}}</span></p>
<p>The ticket has been resolved. It is in Closed State. So i {{progress}} the ticket number.</p>
{% endif %}
<p>Thank you</p>
</div>
{% endfor %}