<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Kodinger">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{title}}</title>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='./styles/dashboard.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-light bg-light navbar_content">
    <a class="navbar-brand" href="{{ url_for('admin')}}">
      <img src={{ url_for("static",filename="asserts/logo.png") }} alt="logo" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="brand_title">Ticketing Tool</span>
    </a>
    <div>
      <h3 class="dashboard_title">| Wavicle Data Solutions |</h3>
    </div>
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" style="right:1%;" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"  href="{{ url_for('logout') }}">logout</a>
      </div>
    </div>
  </nav>
  <br>
<div class="paddingTo" style="position: absolute; left:35rem;">
    <center>
    <p class="new_incident_title" ><h1 style="color:orange;">Ticket Id {{ticket_id}}</h1></p><br><br><br>
        </center>
    <form method = "post">
        <div class="container">
             {{ form.hidden_tag() }}
            {{ form.csrf_token }}

           {{form.progress_radio(style="margin-left:1rem;")}}
            <center>
            {{form.submit(class="btn btn-outline-primary")}}
                </center>
        </div>
    </form>

</div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>