{% extends './login/base.html' %}

{% block content %}
<div class="design_grid" style=" height:30rem; display:flex; flex-direction: row; margin-left:20rem; margin-top:15rem;">
    <div class="grid1">

    </div>
    <div class="grid2">
<h3 style="text-align:center;">Reset password</h3>
<form method="POST"  action=" " class="my-login-validation form_discription" novalidate="" style="margin-top:2rem;">
     {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="email">{{ form.email.label }}</label>
      {% if form.email.errors %}
      {{ form.email(class="form-control  is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.email.errors %}
				<span style="color: red;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      {{ form.email(class="form-control")}}
      {% endif %}

<!--    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Employee Id</label>
   {% if form.employee_id.errors %}
      {{ form.employee_id(class="form-control  is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.employee_id.errors %}
				<span style="color: red;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      {{ form.employee_id(class="form-control")}}
      {% endif %}
  </div>

    <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
   {% if form.password.errors %}
      {{ form.password(class="form-control  is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.password.errors %}
				<span style="color: red;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      {{ form.password(class="form-control")}}
      {% endif %}
  </div>

    <div class="form-group">
    <label for="exampleInputPassword1">Reset password</label>
   {% if form.confirm_password.errors %}
      {{ form.confirm_password(class="form-control  is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.confirm_password.errors %}
				<span style="color: red;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      {{ form.confirm_password(class="form-control")}}
      {% endif %}
  </div>

    {{form.submit(class="btn btn-dark")}}
</form>
        </div>
</div>
{% endblock %}