{% extends './login/base.html' %}

{% block content %}
<div class="design_grid" style=" height:30rem; display:flex; flex-direction: row; margin-left:20rem; margin-top:15rem;">
    <div class="grid1">

    </div>
    <div class="grid2">
    <h3 style="text-align:center;">Login User</h3>
<form method="POST" class="my-login-validation form_discription" style="margin-top:2rem;" novalidate="" >
     {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="exampleInputEmail1">{{ form.employee_id.label }}</label>
      {% if form.employee_id.errors %}
      {{ form.employee_id(class="form-control  is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.employee_id.errors %}
				<span style="color: red;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      {{ form.employee_id(class="form-control")}}
      {% endif %}
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
   {% if form.password.errors %}
      {{ form.password(class="form-control  is-invalid")}}
      <div class="invalid-feedback">
          {% for error in form.password.errors %}
				<span style="color: red;">{{ error }}</span>
          {% endfor %}
      </div>
      {% else %}
      {{ form.password(class="form-control")}}
      {% endif %}
  </div>
    {{form.submit(class="btn btn-dark")}}
    <div>
            <a href="{{ url_for('forgot_password') }}"  class="card-link" style="color:black;">forgot password?</a>
    </div>
</form>
        </div>
</div>

{% endblock %}
