{% extends './op_manager/base.html' %}


{% block content %}
<h3 class="title_record">Service Request</h3>
            <div class="table_design">
                {%if req_post %}
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">employee id</th>
                            <th scope="col">empolyee Name</th>
                            <th scope="col">reqirement ticket id</th>
                            <th scope="col">requirement id</th>
                            <th scope="col">requirement product</th>
                            <th scope="col">requirement status</th>
                            <th scope="col">management approvel</th>
                            <th scope="col">Date</th>

                        </tr>
                    </thead>
                    <tbody>

                    {% for req in req_post %}
                        <tr>
                            <th scope="row">{{ req.emp_id }}</th>
                            <th scope="row">{{ req.emp_name }}</th>
                            <td>{{req.rq_tic_id}}</td>
                            <td>{{req.rq_id}}</td>
                            <td>{{req.rq_prdct}}</td>
                            <td>{{req.rq_status_ad}}</td>
                            <td>{{req.rq_apprvl_op}}
                            <a href="{{ url_for('management_progress',ticket_id=req.rq_tic_id,emp_id=req.emp_id) }}"><i class="fa fa-angle-double-right" aria-hidden="true">
                                </i></a></td>
                            <td>{{req.dte}}</td>
                            <!-- <td>Otto</td> -->
                        </tr>
                     {% endfor %}
                    {% else %}
                    <p style="text-align:center;margin-top:5rem;color:orange">No data found</p>
                    {% endif %}
                </table>
                <!-- <button type="button" class="btn btn-primary">Generate Report</button> -->
            </div>
 {% endblock %}