{% extends './login/base.html' %}

{% block content %}

<div class="paddingTo" style="position: absolute; left:35rem;">
    <center>
    <p class="new_incident_title" ><h1 style="color:orange;">Ticket Id {{ticket_id}}</h1></p><br><br><br>
        </center>
    <form method = "post">
        <div class="container">
             {{ form.hidden_tag() }}
            {{ form.csrf_token }}

           {{form.progress_radio(style="margin-left:4rem;")}}
            <center>
            {{form.submit(class="btn btn-outline-primary")}}
                </center>
        </div>
    </form>

</div>
{% endblock %}