 {% for user in user %}

<p>Hi,</p>
 <p>The ticket number <span style="font-weight:bold;">{{ user.inc_tic_id}}</span> for <span style="font-weight:bold">{{ user.inc_id }}</span>,
  <span style="font-weight:bold;"> {{user.inc_name}}</span> has been taken for <span style="font-weight:bold; color:blue;">{{ user.inc_Prty}} priority</span > for <span style="font-weight:bold;">{{user.emp_name}}</span> </p>
 <p>It will be reviewed and resolved as soon as possible.</p>
 <p>Thank you</p>
 {% endfor %}

  {% for user_rq in user_rq %}

<p>Hi,</p>
 <p>The ticket number <span style="font-weight:bold;">{{ user_rq.rq_tic_id}}</span> for <span style="font-weight:bold">{{ user_rq.rq_id }}</span>, <span style="font-weight:bold;"> {{user_rq.rq_prdct}}</span> should be taken for <span style="font-weight:bold; color:blue;">{{ user_rq.req_Prty}} priority</span > for <span style="font-weight:bold;">{{user_rq.emp_name}}</span> </p>
 <p>It will be reviewed and resolved as soon as possible.</p>
 <p>Thank you</p>
 {% endfor %}