{% extends './ticketing/base.html' %}

{% block content %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Network Related Issue
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="display_hid">{{form.inc_id(value='101',class="btn btn-light")}}</div>
          <div class="display_hid">{{form.inc_name(value='Network Related Issue',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Installation Related Issue
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
         <form method="POST" action="">
          {{ form.hidden_tag() }}
             <div class="display_hid">{{form.inc_id(value='103',class="btn btn-light")}}</div>
              <div class="display_hid">{{form.inc_name(value='Installation Related Issue',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority(class="radio-inline")}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Hardware Issues
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
            <div class="display_hid">{{form.inc_id(value='104',class="btn btn-light")}}</div>
             <div class="display_hid">{{form.inc_name(value='Hardware Issues',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority(class="radio-inline")}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Software Issues
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
            <div class="display_hid">{{form.inc_id(value='105',class="btn btn-light")}}</div>
             <div class="display_hid">{{form.inc_name(value='Software Issues',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority(class="radio-inline")}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Others
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
            <div class="display_hid">{{form.inc_id(value='106',class="btn btn-light")}}</div>
             <div class="display_hid">{{form.inc_name(value='Others',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority(class="radio-inline")}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.submit(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
</div>
{% endblock %}