{% extends './ticketing/base.html' %}

{% block content %}
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Laptop / Desktop
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <div class="display_hid"></div>
          <div class="display_hid"> {{form.req_id(value='201',class="btn btn-light")}}</div>
          <div class="display_hid">{{form.req_name(value='Laptop / Desktop',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.verify(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mouse
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
         <form method="POST" action="">
          {{ form.hidden_tag() }}
             <div class="display_hid">{{form.req_id(value='202',class="btn btn-light")}}</div>
              <div class="display_hid">{{form.req_name(value='Mouse',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority(class="radio-inline")}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.verify(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Head Phones
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
            <div class="display_hid">{{form.req_id(value='203',class="btn btn-light")}}</div>
             <div class="display_hid">{{form.req_name(value='Head Phones',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority(class="radio-inline")}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.verify(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
    <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         Network Cables
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <form method="POST" action="">
          {{ form.hidden_tag() }}
            <div class="display_hid">{{form.req_id(value='204',class="btn btn-light")}}</div>
             <div class="display_hid">{{form.req_name(value='Network Cables',class="btn btn-light")}}</div>
          <p>priority:</p>
          {{form.priority(class="radio-inline")}}
          <div class="form-group">
              <label for="comment">Comment:</label>
<!--              <textarea class="form-control" rows="5" id="comment"></textarea>-->
              {{form.address(class="form-control")}}
          </div>
          {{form.verify(class="btn btn-outline-primary")}}
      </form>
      </div>
    </div>
  </div>
{% endblock %}