
.navbar{
    height: 5rem;
}

.brand_title{
    color: darkgrey;
    font-size: 1rem;
}

.nav-tabs{
    width: 100%;
}
.nav-tabs .nav-link {
    padding: 0.98rem;
    padding-left: 2rem;
    padding-right: 2rem;
 }
 
.table{
    margin-top: 2rem;
    
}

.table_design {
    /* width:40rem; */
    position: absolute;
    left: 5rem;
    right: 5rem;
}
.title_record{
    text-align: center;
    color: orange;
}
.fa{
color:orange;
margin-left:1rem;
}
