.logo{
    width: 2rem;
}
.navbar{
    height: 5rem;
}
.brand_title{
    color: darkgrey;
    font-size: 1rem;
}
.navbar_content{

    display: flex;
    justify-content: space-around;
}
.dropdown-menus.show {
    display: block;
}
.dropdown-menus {
    
    display: none;
    float: left;
   
}
.user_name{
    color: rgb(133, 14, 218);
}
.vertical_line{
    border-left: 1px solid darkgrey;
    grid-column: 2;
    grid-row: 1;

    /* height: 500px; */
}
.user_name{
    margin-bottom: 1rem;
}
.discription{
padding-right: 1rem;
width: 30rem;
grid-column: 1;
  grid-row: 1;
}
.body_tag{
    /* display: flex;
    flex-direction: row; */
    /* display: flex; */
    /* justify-content: space-around; */
    display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.dashboard_title{
    color: orange;
}
.req_img{
    margin-top: 2rem;
    margin-left: 1rem;
}
.Image_1{
    grid-column: 3 / 4;
    grid-row: 1;
}
.Image_2{
    grid-column: 5 / 6;
    grid-row: 1;
}
.new_incident_title{
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
.card{
   padding-top: 2rem;
   padding-bottom: 2rem;
}
.ticketing_description{
    color: rgb(136, 125, 125);
}
.display_hid{
display:none;
}

.table{
    margin-top: 2rem;

}
.ticket_img{
height:5rem;
}