.logo{
    width: 2rem;
}
.navbar{
    height: 5rem;
}
.brand_title{
    color: darkgrey;
    font-size: 1rem;
}
.navbar_content{

    display: flex;
    justify-content: space-around;
}
.dropdown-menus.show {
    display: block;
}
.dropdown-menus {

    display: none;
    float: left;

}