{% extends './user/base.html' %}

{% block content %}
<div>
  <div class="card">
    <div class="card-body body_tag">

      <div class="discription">
       {% if success_name %}
        <h3 class="user_name"> Welcome {{success_name}}!!</h3>
        {% else %}
        <h3 class="user_name">Welcome User!!</h3>
        {% endif %}

        <p class="ticketing_description">Ticketing tool manages all your support conversations in one place. If there is
          any hardware or software
          regarding issues we may contact through ticketing tool.This tool provides the web page to manage approvals of
          service requirements and hardware and software issues.
        </p>
      </div>

      <div class="vertical_line">
      </div>

      <div class="Image_1">
        <a class="navbar-brand" href="{{ url_for('inc_ticket') }}" role="button">
          <img class="req_img" src="{{url_for('static',filename='asserts/requirement.png')}}"><br>
          <p class="new_incident_title inc_title" style="margin-left:1.5rem">Incident</p>
        </a>
      </div>

      <div class="Image_2">
        <a class="navbar-brand" href="{{ url_for('req_ticket') }}" role="button">
          <img class="req_img" src="{{url_for('static',filename='asserts/issue.png')}}"><br>
          <p class="new_incident_title">Service Request</p>
        </a>
      </div>


    </div>

  </div>
<div style="display:flex; flex-direction:row; justify-content: space-evenly; margin-top:4rem; margin-bottom:3rem;">
  <div>
     <center>
       <img class="ticket_img" src="{{url_for('static',filename='asserts/tic_list.png')}}" style="height:6rem;">
        </center>
    <center>
    <h3 style="color: rgb(133, 14, 218); width:10rem;">Your Tickets is Ready</h3>
      <button type="button" class="btn btn-primary" style="width:10rem;"> <a class="card-link"  href="{{ url_for('user_tickets') }}" style="color:white;">View</a></button>
     </center>
  </div>
</div>

  </div>
{% endblock %}
