{%for emp in emp %}
<p>Hi,</p>
<div>
    <p>
        The ticket number <span style="font-weight:bold;">{{ticket_id}}</span> for
        <span style="font-weight:bold;">{{emp.emp_name}}</span>
        had some issues which has been resolved earlier.
        So i {{progress}} the ticket number.
    </p>
    {% if progress=='close' %}
    <p>If any Issues please Reopen.. We will connect and Resolve</p>
    {% endif %}

    {% if progress=='reopen' %}
    <p>Take this as <span style="color:orange">High priority</span> for  <span style="font-weight:bold;">{{emp.emp_name}}</span></p>
    <p>It will be reviewed and resolved as soon as possible.</p>
    {% endif %}
    <p>Thank you</p>
</div>
{% endfor %}


{%for ticket_prd in ticket_prd %}
<p>Hi,</p>
<p>The ticket number <span style="font-weight:bold;">{{ ticket_prd.rq_tic_id}}</span>
    {% if ticket_prd.rq_apprvl_op =='reject' %}
    {{ticket_prd.rq_apprvl_op}}ed
    {% else %}
    {{ticket_prd.rq_apprvl_op}}d
    {% endif %}
     by <span style="font-weight:bold;">Operational manager</span> </p>
<p>IT support please do further process.</p>
<p>Thank you</p>

{% endfor %}
