{% extends './user/base.html' %}

{% block content %}
<h3 class="title_record" style="text-align: center; color: orange;">Employee Tickets</h3>
            <div class="table_design" style=" position: absolute; left: 5rem; right: 5rem;margin-top:2rem;">
                {% if inc_tab or req_tab %}
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">empolyee id</th>
                            <th scope="col">ticket id</th>
                            <th scope="col">Function id</th>
                            <th scope="col">Function name</th>
                            <th scope="col">Function priority</th>
                            <th scope="col">Employee comments</th>
                            <th scope="col">function status</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>

                   {% for item in inc_tab %}
                        <tr>
                            <form action="" method="post">
                            <th scope="row">{{ item.emp_id }}</th>
                            <td name="incident_ticket">{{ item.inc_tic_id }}</td>
                                <input type="hidden" value='{{ item.inc_tic_id }}' name='ticket'>
                            <td>{{ item.inc_id }}</td>
                            <td>{{ item.inc_name }}</td>
                            <td>{{ item.inc_Prty }}</td>
                            <td>{{ item.inc_cmt }}</td>
                            <td>{{ item.inc_status }}
                                <a href="{{ url_for('user_progress',ticket_id=item.inc_tic_id,emp_id=item.emp_id) }}"><i class="fa fa-angle-double-right" aria-hidden="true" style="color:orange;margin-left:1rem;">
                                </i>
                                </a>
                            </td>
                            <td>{{ item.dte }}</td>
                            <!-- <td>Otto</td> -->
                            </form>
                        </tr>
                   {% endfor %}
                   {% for item in req_tab %}
                        <tr>
                            <th scope="row">{{ item.emp_id }}</th>
                            <td>{{ item.rq_tic_id }}</td>
                            <td>{{ item.rq_id }}</td>
                            <td>{{ item.rq_prdct }}</td>
                            <td>{{ item.req_Prty }}</td>
                            <td>{{ item.req_cmt }}</td>
                            <td>{{ item.rq_status_ad }}
                                <a href="{{ url_for('login') }}"><i class="fa fa-angle-double-right" aria-hidden="true" style="color:orange;margin-left:1rem;">
                                </i></a>
                            </td>
                            <td>{{ item.dte }}</td>
                            <!-- <td>Otto</td> -->
                        </tr>
                   {% endfor %}
                    {% else %}
                   <p style="text-align:center;margin-top:5rem">No data found</p>

                    {% endif %}

                </table>
                <!-- <button type="button" class="btn btn-primary">Generate Report</button> -->
            </div>
{% endblock %}